@import '@/styles/fonts/fonts';
@import '@/styles/scss/colors';
@import '@/styles/scss/layout';
@import '@/styles/scss/semantic-ui';

* {
  margin: 0;
  padding: 0;

  font-family: Circe;
  font-weight: 400;
  color: $c-text-main;
}

#root {
  display: flex;
  justify-content: center;
}

:root {
  background-color: $c-background;
  background-image: url('@/assets/background.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
